# Environment files
.env

# Log files
*.log

# Temporary files
*.tmp
*.bak

# Build artifacts
/build/
/dist/
/node_modules/
/vendor/


# IDE/Editor files
.DS_Store
.idea/
.vscode/

src/main/resources/serviceCreds.json
