<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign Up</title>
</head>
<body>
<h2>Sign Up</h2>
<div th:if="${error}" style="color:red;">
    <p th:text="${error}"></p>
</div>
<form action="/signup" method="post">
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br><br>
    <input type="submit" value="Sign Up">
</form>
</body>
</html>
